.jumbotron {
    background-image: url("/images/roman-kraft-197672.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 550px;
    color: white;
}

.title {
    margin: 0px;
    text-align: center;
    padding-top: 110px;
    font-size: 120px;
}

.tagline, .btn-div {
    text-align: center;
    font-size: 25px;
}

.btn {
    background-color: rgb(184, 156, 32);
}


