.wrapper {
    margin: 40px 85px;
}

.grid-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.greeting {
    margin-left: 30px;
    font-size: 30px;
}

.upload-text {
    text-align: center;
}

.avatar-row {
    margin-bottom: 0px;
}

.products-header {
    background-color: rgb(217, 219, 221);
    margin-top: 20px;
    padding-top: 2px;
    padding-left: 20px;
}
